@using Microsoft.AspNet.Identity
@{
    var totalItems = 0;
    var session = Session["Cart"] as Ecom.Web.ViewModels.SessionViewModel;
    if (session != null)
    {
        totalItems = session.Products.Sum(p => p.Quantity);
    }
}
<ul class="nav navbar-nav navbar-right">
    @if (Request.IsAuthenticated)
    {
            <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        }
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    }
    else
    {
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    @if (totalItems > 0)
    {
        <li>
          
                <a href="@Url.Action("checkout","Home")">

                    <i class="glyphicon glyphicon-shopping-cart">
                        <span class="badge badge-danger">@totalItems</span>
                    </i>
                </a>
           
        </li>
    }
</ul>